@(myForm: Form[Order])

@main("Заказ") {

    @helper.form(action = routes.DashboardController.submit()){

        <div class="container-fluid mid">
            <h2> Введите заказ: </h2>
        <p> Что хотим? <input type="text" name="name" placeholder="Введите имя"> </p>
            <p> &nbsp;&nbsp;&nbsp;Сколько? <input type="text" name="count" placeholder="Введите количество"> </p>
        <p><select name="unitid">
          @for(unit <- Unit1.all()) {
              <option value=@unit.getId>@unit.getName</option>
          }
        </select></p>

        <p>
            <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Отправить</button>
        </p>
        </div>
    }

}